CMPT 2400: Exploratory Data Analysis Data Project
Prepared by Laura Brin, Sandra Alex & Annabell Rodriguez

loading libraries

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split

# This makes it so we are able to see 100 rows when displaying the data
pd.set_option("display.max_rows", 100)

loading datasets

In [16]:
pass_df=pd.read_csv("dataset/International_Report_Passengers.csv")
depart_df=pd.read_csv("dataset/International_Report_Departures.csv")

Observing Departures Dataset

This dataset contains data on all the flights between US gateways and non-US gateways. It is a record of international flights departing US and can be used to highlight busiest airports, and peak times for flight volume

    ###Laura

Posed Problem: Flight delay propagation

International travel involves a web of interconnected airports in hundreds of countries every single day of the year. 
The ripple effect caused by a cancelled or delayed flight can cause issues with missed connections, missing baggage, carrier fines, reimbursed customers and staffing issues.

According to the Federal Aviation Administration, Delay Propagation occurs when three conditions are met simultaneously (https://aspm.faa.gov/aspmhelp/index/Delay_Propagation.html#:~:text=Delay%20propagation%20occurs%20when%20a,identified%20by%20a%20tail%20number.):
    A flight arrives late at an airport.
    A flight departs late in subsequent stages.
    A flight arrives late at the next destination.


We would like to pitch a ML solution using this dataset that would assist with real time decisions for domestic flights. When domestic flight centers expierence multiple delays, air traffic decision makers can use the model to help predict which flights should be priortized for take-off to reduce flight delay propogation into international connecting flights. It will do this by looking at the relationship between the flight's intended landing airport, the number of international airports that site connects with, the region of the airport and the time of year.

Features

Date- in MM/DD/YYYY 

Year

Month

usg_apt_id: US Gateway Airport ID- assigned by US DOT to identify airport

usg_apt: US Gateway Airport Code- usually assigned by IATA but in absence of IATA designation, may show FAA-assigned code

        These two features are related. They represent the numerical and three letter code for location identification, respectively. 

usg_wac: US Gateway World Area code- assigned by US DOT to represent a geographic territory

fg_apt_id: Foreign Gateway Airport ID-assigned by US DOT to identify an airport

fg_apt: Foreign Gateway Airport Code- usually assigned by IATA but in absence of IATA designation, may show FAA assigned code

fg_wac: Foreigh Gateway World Area Code- Assigned by US DOT to represent territory

airlineid: Airline ID assigned by US DOT to identify an air carrier

Notes: 
need to set date format correctly
year/month-numerical-any need for month to be in categorical?
need to check where more than 2 usg_apt is assigned to usg_apt_id and relabel
important pieces- US gatewayForeign Gateway and US_ world Area codeforeign world area code
year,month,
apt_ids and airlineid all as numeric-actually categorical

In [17]:
depart_df.head(20)

,data_dte,Year,Month,usg_apt_id,usg_apt,usg_wac,fg_apt_id,fg_apt,fg_wac,airlineid,carrier,carriergroup,type,Scheduled,Charter,Total
0,05/01/2006,2006,5,12016,GUM,5,13162,MAJ,844,20177,PFQ,1,Departures,0,10,10
1,05/01/2003,2003,5,10299,ANC,1,13856,OKO,736,20007,5Y,1,Departures,0,15,15
2,03/01/2007,2007,3,10721,BOS,13,12651,KEF,439,20402,GL,1,Departures,0,1,1
3,12/01/2004,2004,12,11259,DAL,74,16271,YYZ,936,20201,AMQ,1,Departures,0,1,1
4,05/01/2009,2009,5,13303,MIA,33,11075,CMW,219,21323,5L,0,Departures,0,20,20
5,10/01/2007,2007,10,14761,SFB,33,11928,GLA,493,20444,JN,0,Departures,0,8,8
6,02/01/2002,2002,2,14100,PHL,23,11032,CUN,148,20402,MMQ,1,Departures,0,1,1
7,02/01/2008,2008,2,16091,YIP,43,16166,YQG,936,20201,AMQ,1,Departures,0,3,3
8,11/01/2001,2001,11,13930,ORD,41,16042,YEG,916,19531,AC,0,Departures,0,1,1
9,07/01/2003,2003,7,13198,MCI,64,13514,MTY,148,20201,AMQ,1,Departures,0,1,1
10,11/01/2009,2009,11,11057,CLT,36,11032,CUN,148,20423,U5,1,Departures,0,2,2
11,09/01/2008,2008,9,15016,STL,64,16271,YYZ,936,19531,AC,0,Departures,0,1,1
12,11/01/2004,2004,11,15304,TPA,33,11032,CUN,148,20402,GL,1,Departures,0,1,1
13,08/01/2009,2009,8,13061,LRD,74,14886,SLW,148,20166,GFQ,1,Departures,0,1,1
14,05/01/2009,2009,5,13930,ORD,41,11032,CUN,148,19534,AM,0,Departures,0,10,10
15,06/01/2007,2007,6,12266,IAH,74,15018,STN,493,20007,5Y,1,Departures,0,1,1
16,07/01/2009,2009,7,15842,WRI,21,16050,YFB,934,20169,L2,1,Departures,0,4,4
17,02/01/2001,2001,2,11637,FAR,66,14312,PVR,148,20312,TZ,1,Departures,0,3,3
18,10/01/2007,2007,10,10821,BWI,35,12938,LEJ,429,20095,WO,1,Departures,0,5,5
19,04/01/2007,2007,4,10299,ANC,1,13954,OSN,778,20057,EZ,1,Departures,0,6,6

In [18]:
depart_df.describe()

,Year,Month,usg_apt_id,usg_wac,fg_apt_id,fg_wac,airlineid,carriergroup,Scheduled,Charter,Total
count,930808.000000,930808.000000,930808.000000,930808.000000,930808.000000,930808.000000,930808.000000,930808.000000,930808.000000,930808.000000,930808.000000
mean,2006.021361,6.414783,12809.473781,42.511740,13484.676238,466.910479,20057.217505,0.599361,40.003181,2.005483,42.008665
std,8.558831,3.471070,2716.223845,27.571338,1932.601107,288.005971,479.071456,0.490028,60.948973,8.278403,60.340835
min,1990.000000,1.000000,10010.000000,1.000000,10119.000000,106.000000,19386.000000,0.000000,0.000000,0.000000,1.000000
25%,1999.000000,3.000000,11618.000000,22.000000,11868.000000,205.000000,19704.000000,0.000000,0.000000,0.000000,3.000000
50%,2007.000000,6.000000,12892.000000,33.000000,13408.000000,427.000000,19991.000000,1.000000,17.000000,0.000000,20.000000
75%,2014.000000,9.000000,13487.000000,72.000000,15084.000000,736.000000,20312.000000,1.000000,60.000000,1.000000,60.000000
max,2020.000000,12.000000,99999.000000,93.000000,16881.000000,975.000000,22067.000000,1.000000,2019.000000,1092.000000,2019.000000

In [19]:
depart_df.shape

(930808, 16)

In [20]:
depart_df.dtypes

data_dte        object
Year             int64
Month            int64
usg_apt_id       int64
usg_apt         object
usg_wac          int64
fg_apt_id        int64
fg_apt          object
fg_wac           int64
airlineid        int64
carrier         object
carriergroup     int64
type            object
Scheduled        int64
Charter          int64
Total            int64
dtype: object

space

In [ ]:
#code space

    ###Annabell

    ###Sandra